################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SmBiosCore.sln
/obj/Debug
/obj
/SmBiosCore.csproj.user
/bin/Debug
